body {
    font-family: "Roboto";
    margin: 0;
}

.layout {
    display: flex;
    justify-content: flex-start;
    height: 100px;
    background-color: #ffffff;
}

.botaocabecalho {
    color: #2b2b2b;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 1s;
    padding-inline: 90px;
}

.botaocabecalho:hover {
    color: #696969;
}

.cabecalhoimagem {
    transform: translateY(8px);
    padding-inline: 90px;
}

#logo {
    height: 45px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top: 1px solid rgb(92, 92, 92);
    border-bottom: 1px solid rgb(92, 92, 92);
}

#formulario {
    text-decoration: none;
    border-style: none;
    display: block; 
}

.form {
    letter-spacing: 0.5;
}

#caixa {
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    width: 800px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.titulo {
    font-size: 30px;
}

.labels {
    display: block;
    margin-bottom: 15px;
}

.labels input, .labels select {
    margin-top: 30px; 
    padding: 10px;
    width: 100%;
    max-width: 400px; 
    border-radius: 5px;
    border: 1px solid #ccc;
}